$yellow: #FED136;
$grey-text: #A5A0A6;

@mixin uppercase-font {
    text-transform: uppercase;
    font-family: Montserrat;
}
@mixin section-padding {
    padding: 5%;
}

header {
    background-image: url(../../img/header-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;
    color: #fff;
    h3 {
        color: $yellow;
        font-family: Kaushan Script;
        float: left;
    }
    ul {
        float: right;
        list-style-type: none;
        li {
            display: inline-block;
            @include uppercase-font;
        }
    }
    h2 {
        margin-top: 215px;
        font-family: Droid Serif;
    }
    h1 {
        font-size: 6rem;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.main-btn {
    margin-top: 50px;
    margin-bottom: 170px;
    a {
        @include uppercase-font;
        font-weight: 700;
        color: #fff;
        background-color: $yellow;
        padding: 1.5% 4%;
        border-radius: 3px;
    }
    a:hover {
        text-decoration: none;
        color: #000;
        background-color: #fff;
        border: 4px solid $yellow;
    }
}

nav {
    a {
        color: #fff;
        padding: 5px 15px;
        font-size: 1.3rem;
    }
    a:hover {
        color: $yellow;
        text-decoration: none;
        background-color: #414141;
    }
}

#services {
    @include section-padding;
    .row {
        margin-top: 70px;
    }
    .services-icon {
        background-color: $yellow;
        color: #fff;
        font-size: 5rem;
        border-radius: 100%;
        width: 80px;
        padding: 5px;
        margin: auto;
    }
    h5 {
        font-weight: bold;
        margin: 20px auto;
        font-size: 1.5rem;
    }
    p {
        color: $grey-text;
        font-family: Droid Serif;
        font-size: 1.4rem;
    }
}

.headings {
    h2 {
        @include uppercase-font;
        font-weight: bold;
    }
    p {
        font-style: italic;
        font-family: Droid Serif;
        font-size: 1.8rem;
    }
}
