$yellow: #FED136;
$grey-text: #A5A0A6;
$light-grey: #F7F7F7;
$light-black: #222222;

@mixin uppercase-font {
    text-transform: uppercase;
    font-family: Montserrat;
}
@mixin section-padding {
    padding: 7% 0;
}
@mixin droid-italics {
    font-style: italic;
    font-family: Droid Serif;
    color: $grey-text;
}
@mixin droid-p {
    color: $grey-text;
    font-family: Droid Serif;
    font-size: 1.4rem;
}
@mixin input {
    @include uppercase-font;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 15px;
    display: block;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 0;
}
header {
    background-image: url(../../img/header-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;
    color: #fff;
    .container {
        width: 100%;
    }
    h3 {
        color: $yellow;
        font-family: Kaushan Script;
        float: left;
    }
    ul {
        float: right;
        list-style-type: none;
        li {
            display: inline-block;
            @include uppercase-font;
        }
    }
    h2 {
        margin-top: 215px;
        font-family: Droid Serif;
    }
    h1 {
        font-size: 6rem;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.main-btn {
    margin-top: 50px;
    margin-bottom: 170px;
    a {
        @include uppercase-font;
        font-weight: 700;
        color: #fff;
        background-color: $yellow;
        padding: 1.5% 4%;
        border-radius: 3px;
    }
    a:hover {
        text-decoration: none;
        color: #000;
        background-color: #fff;
        border: 4px solid $yellow;
    }
}

nav {
    a {
        color: #fff;
        padding: 5px 15px;
        font-size: 1.3rem;
    }
    a:hover {
        color: $yellow;
        text-decoration: none;
        background-color: #414141;
    }
    a:focus {
        color: #fff;
        text-decoration: none;
    }
}

#services {
    @include section-padding;
    .row {
        margin-top: 70px;
    }
    .services-icon {
        background-color: $yellow;
        color: #fff;
        font-size: 5rem;
        border-radius: 100%;
        width: 80px;
        padding: 5px;
        margin: auto;
    }
    h5 {
        font-weight: bold;
        font-family: Montserrat;
        margin: 20px auto;
        font-size: 1.5rem;
    }
    p {
        @include droid-p;
    }
}

.headings {
    h2 {
        @include uppercase-font;
        font-weight: bold;
    }
    p {
        @include droid-italics;
        font-size: 1.4rem;
    }
}

#portfolio {
    @include section-padding;
    background-color: $light-grey;
    img {
        width: 100%;
    }
    .portfolio-each {
        margin: 40px auto;
    }
    .portfolio-box {
        background-color: #fff;
        padding: 15px;
        p:first-child {
            margin-bottom: 0;
            font-weight: bold;
            font-family: Montserrat;
        }
        p:last-child {
            @include droid-italics;
        }
    }
}

#about {
    @include section-padding;
    background-color: #fff;
    position: relative;
    .timeline-img {
        position: relative;
        z-index: 1;
        img {
            border: 7px solid $light-grey;
            width: 160px;
        }
    }
    a {
        background-color: $yellow;
        @include uppercase-font;
        color: white;
        font-weight: bold;
        padding: 40px;
        border-radius: 50%;
        border: 7px solid $light-grey;
        text-decoration: none;
        display: block;
        width: 160px;
        margin: 100px auto;
        z-index: 1;
        position: relative;
    }
    .line {
        height: 1000px;
        background-color: $light-grey;
        width: 5px;
        top: 25%;
        left: 50%;
        position: absolute;
    }
}

.timeline-box {
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
    .timeline-text1 {
        position: absolute;
        width: 30%;
        left: 10%;
        top: 0%;
    }
    .timeline-text2 {
        position: absolute;
        width: 30%;
        right: 10%;
        top: 0%;
    }
    p {
        @include droid-p;
    }
    h5 {
        @include uppercase-font;
        font-weight: bold;
    }
    h5:nth-child(2) {
        text-transform: capitalize;
    }
}

#team {
    @include section-padding;
    background-color: $light-grey;
    img {
        border: 5px solid #fff;
        width: 60%;
    }
    .team-main-p {
        @include droid-p;
        width: 60%;
        margin: 50px auto 0;
    }
    .row {
        margin-top: 60px;
    }
    .name {
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 20px;
        font-family: Montserrat;
    }
    p:nth-child(3) {
        @include droid-p;
    }
}

.social-box {
    a {
        background-color: #000;
        color: #fff;
        display: inline-block;
        padding: 5px;
        width: 30px;
        border-radius: 100%;
        margin: 0 5px 10px;
    }
    a:hover {
        background-color: $yellow;
    }
}

#clients {
    @include section-padding;
}

#contact {
    background-color: $light-black;
    @include section-padding;
    .headings {
        h2 {
            color: #fff;
        }
    }
    .row {
        margin-top: 80px;
    }
    input {
        @include input;
    }
    textarea {
        @include input;
        height: 177px;
    }
    .main-btn {
        margin-bottom: 25px;
        margin-top: 20px;
    }
}

footer {
    font-family: Montserrat;
    padding: 20px 0;
    a {
        color: $yellow;
        margin-right: 10px;
    }
}

@media screen and (min-width:0px) and (max-width:1100px) {
    header {
        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 2.5rem;
        }
    }
    #about {
        .timeline-text1 {
            display: none;
        }
        .timeline-text2 {
            display: none;
        }
    }
}
