doctype html
html
    mixin headings (h2)
        .headings
            h2= h2
            p Lorem ipsum dolor sit amet consectetur
    mixin services-box (clase, h5)
        .col-lg-4.col-md-4
            .services-icon
                i(class=clase)
            h5= h5 
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
    mixin button (text)
        .main-btn: a(href="#")= text 
    head
        title Agency Theme
        link(rel="stylesheet", href="assets/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Montserrat', type='text/css')
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Kaushan+Script', type='text/css')
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300', type='text/css')
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Droid+Serif:700italic,400italic,400,700', type='text/css')
        link(rel="stylesheet", href="assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="assets/css/main.css")
    body
        header.text-center
            .container
                nav
                    h3 Start Bootstrap
                    ul
                        li: a(href="#") services
                        li: a(href="#") portfolio
                        li: a(href="#") about
                        li: a(href="#") team
                        li: a(href="#") contact
                h2 <i>Welcome To Our Studio!</i>
                h1 it's nice to meet you
                +button ("tell me more")
    section#services
        .container.text-center
            +headings ("services")
            .row
                +services-box ("fa fa-shopping-cart", "E-Commerce")
                +services-box ("fa fa-laptop", "Responsive Design")
                +services-box ("fa fa-lock", "Web Security")

                
