doctype html
html
    mixin headings (h2)
        h2= h2
        p Lorem ipsum dolor sit amet consectetur
    mixin services-box (h5)
        .col-lg-4.col-md-4
            .services-icon
            h5= h5 
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. 
    head
        title Agency Theme
        link(rel="stylesheet", href="assets/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Montserrat', type='text/css')
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Kaushan+Script', type='text/css')
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300', type='text/css')
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Droid+Serif:700italic,400italic,400,700', type='text/css')
        link(rel="stylesheet", href="assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="assets/css/main.css")
    body
        header.text-center
            .container
                nav
                    h3 Start Bootstrap
                    ul
                        li <a href="#">services</a>
                        li <a href="#">portfolio</a>
                        li <a href="#">about</a>
                        li <a href="#">team</a>
                        li <a href="#">contact</a>
                h2 <i>Welcome To Our Studio!</i>
                h1 it's nice to meet you
                .main-btn<a href="#">tell me more</a>
    section#services
        .container.text-center
            +headings ("services")
            .row
                +services-box ("E-commerce")
                +services-box ("Responsive Design")
                +services-box ("Web Security")
                
